.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  color: orange;
}

nav ul li {
  display: inline-block;
  margin: 20px;
}

nav {
  margin: auto 0;
}

body {
  margin: 20px;
}

button,
p,
ul,
li {
  margin-left: 20px;
}

.news-list {
  margin: 10px;
  margin-left: 40px;
  padding: 10px;
  background: #61dafb2c;
  color: rgb(61, 61, 61);
  width: 400px;
  cursor: pointer;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-around;
}

.news-section,
form,
fieldset {
  display: flex;
  flex-wrap: wrap;
}

input,
label,
legend {
  margin: 5px 10px;
}

/* fieldset { */
/* border: none; */
/* } */

.delete-icon {
  display: block;
  /* width: 25px; */
  /* height: 25px; */
  content: '';
  color: orangered;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 24px;
  font-weight: 600;
}
