// .Button {
//    color: white;
//    background-color: yellowgreen;

//    &:global(.MuiButton-containedPrimary) {
//       border: 2px solid yellowgreen;
//       background-color: yellowgreen;
//    }
// }

.CssTextField {
   &:global(.MuiTextField-root .Mui-focused),
   &:global(.MuiTextField-root) {
      & label,
      & input {
         color: white;
         font-weight: 300;
      }

      & fieldset,
      & label,
      &:hover fieldset {
         border-color: white;
      }
   }
}

.profile {
   &__userPicture {
      width: 150px;
      height: 150px;

      img {
         width: 100%;
         height: auto;
         border-radius: 15px;
      }
   }

   &__userName {
      font-size: 24px;
      margin: 20px 0 10px 0;
   }

   &__userDescription {
      display: block;
      max-width: 340px;
      margin: 0 20px 0 0;

      &_title {
         color: #a5a5a5;
         &:global(.MuiTypography-root) {
            font-size: 16px;
         }
      }

      &_text {
         &:global(.MuiTypography-root) {
            margin-top: 4px;
            color: rgb(57, 57, 57);
            font-size: 14px;
         }
      }
   }
}

.container-main {
   width: 100%;
   display: flex;
   justify-content: space-between;

   .eventsCalendar {
      margin-top: 20px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__button_reset {
         margin-bottom: -49px;
         margin-left: 45px;
         color: #000;
      }
   }
}

@media screen and (max-width: 690px) {
   .container-main {
      flex-direction: column;
      align-items: center;
   }
}
